-# frozen_string_literal: true
= simple_form_for(@producto) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .row.row-cols-1.row-cols-md-3
    .col
      = f.input :nombre
    .col
      = f.input :codigo
    .col
      = f.input :existencia
    .col
      = f.input :precio_de_compra
    .col
      = f.input :type, collection: Producto::TYPES
  = f.input :descripcion

  = link_to "Regresar", productos_path, class: "btn btn-sm btn-info"
  = f.button :submit, class: "btn btn-sm #{btn_class} float-right"
