!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Rodal
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_pack_tag "application", "data-turbolinks-track": "reload"
  %body
    = render "application/navbar"
    = render "application/sidebar"
    .content-wrapper
      %section.content-header
      %section.content
        .content-fluid
          .row
            .col-12
              = render "application/flash_messages"
              = yield
